p {
  margin: 25px auto;
  padding: 10px;
}
.row {
  text-align: center;
}
.wrapper {
  width: 800px;
  margin: 20px auto;
  background: #114b5f;
  padding: 15px;
  border-radius: 20px;
}
.btn.btn-primary:hover {
  background-color: orange;
}
.btn.btn-secondary {
  background-color: #9ddfd3;
  color: black;
}
.btn.btn-secondary:hover {
  background-color: grey;
}
.card-group {
  width: 100%;
}
.row {
  text-align: center;
}
.card-title {
  color: white;
}
.card-text {
  color: white;
}
.card-body {
  background-color: #9ddfd3;
}
.bottomLine {
  display: block;
  color: white;
}
